<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
      data-template="vertical-menu-template-free" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<head th:insert="fragments/head.html :: head">
</head>
<body>

<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <!-- Menu -->

        <aside th:insert="fragments/slidebar.html :: slidebar">
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <!-- Navbar -->
            <nav th:insert="fragments/navbar.html :: navbar">
            </nav>
            <!-- / Navbar -->
            <!-- Content wrapper -->
            <div class="container-xxl flex-grow-1 container-p-y">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <br>
                                    <h4 class="card-title">Đổi mật khẩu</h4>
                                    <hr>

                                    <form class="form-sample">
                                        <div class="row">
                                            <div class="col-md-3 ">
                                            </div>
                                            <div class="col-md-6">
                                                <p class="text-primary">* Mật khẩu mới phải tối thiểu 8 ký tự bao gồm
                                                    chữ in
                                                    HOA, số, ký tự đặc biệt</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group row">
                                                    <label style="text-align: right ;" class="col-sm-4 col-form-label">Mật
                                                        khẩu cũ *</label>
                                                    <div class="col-sm-8">
                                                        <input type="password" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group row">
                                                    <label style="text-align: right ;" class="col-sm-4 col-form-label ">Mật
                                                        khẩu mới *</label>
                                                    <div class="col-sm-8">
                                                        <input type="password" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group row">
                                                    <label style="text-align: right ;" class="col-sm-4 col-form-label">Xác
                                                        nhận mật khẩu mới *</label>
                                                    <div class="col-sm-8">
                                                        <input type="password" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-3 ">
                                            </div>
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-primary me-2">Xác nhận</button>
                                                <button class="btn btn-secondary">Hủy</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Layout wrapper -->
            <!-- build:js assets/vendor/js/core.js -->
            <script rel="javascript" type="text/javascript" href="js/jquery-1.11.3.min.js">
                function setMaPhong(a) {
                    document.getElementById('txtMaPhong').value = a;
                }

                function setMaTraPhong(a) {
                    window.location.assign('http://localhost:8080/transaction/thanhtoan/' + a);
                }

                $('#btn-transaction').click(function (e) {
                    e.preventDefault();
                    var data = {};
                    data["code"] = $("#txtMaPhong").val();
                    data["customerCode"] = $("#txtId").val();
                    data["customerName"] = $("#txtHoTen").val();
                    data["customerPhone"] = $("#txtSDT").val();
                    $.ajax({
                        url: "http://localhost:8080/api/transaction",
                        type: "POST",
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify(data),
                        success: function (res) {
                            window.location.assign('http://localhost:8080/room/lists');
                            window.alert("Success");
                        },
                        error: function (res) {
                            window.alert("Fail");
                        }
                    });
                });
            </script>
            <!-- / Layout wrapper -->
            <!-- build:js assets/vendor/js/core.js -->
            <script src="../assets/vendor/libs/jquery/jquery.js"></script>
            <script src="../assets/vendor/libs/popper/popper.js"></script>
            <script src="../assets/vendor/js/bootstrap.js"></script>
            <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

            <script src="../assets/vendor/js/menu.js"></script>
            <!-- endbuild -->

            <!-- Vendors JS -->
            <script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

            <!-- Main JS -->
            <script src="../assets/js/main.js"></script>

            <!-- Page JS -->
            <script src="../assets/js/dashboards-analytics.js"></script>

            <!-- Place this tag in your head or just before your close body tag. -->
            <script async defer src="https://buttons.github.io/buttons.js"></script>
        </div>
    </div>

</div>

<!-- End plugin js for this page -->
</body>

</html>