<!DOCTYPE html>
<html lang="en" class="light-style" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head th:insert="fragments/head.html :: head">
</head>

<body>
<!-- Content -->

<!--Under Maintenance -->
<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">Hệ thống đang cập nhật!</h2>
        <p class="mb-4 mx-2">Xin lỗi, hệ thống của chúng tôi đang cập nhật, vui lòng quay lại sau</p>
        <a href="/room/lists" class="btn btn-primary">Trang chủ</a>
        <div class="mt-4">
            <img src="../assets/img/illustrations/girl-doing-yoga-light.png" alt="girl-doing-yoga-light" class="img-fluid" data-app-dark-img="illustrations/girl-doing-yoga-dark.png" data-app-light-img="illustrations/girl-doing-yoga-light.png" width="500">
        </div>
    </div>
</div>
<!-- /Under Maintenance -->

<!-- / Content -->
<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="../assets/vendor/libs/jquery/jquery.js"></script>
<script src="../assets/vendor/libs/popper/popper.js"></script>
<script src="../assets/vendor/js/bootstrap.js"></script>
<script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="../assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->

<!-- Main JS -->
<script src="../assets/js/main.js"></script>

<!-- Page JS -->

<!-- Place this tag in your head or just before your close body tag. -->
<script async="" defer="" src="https://buttons.github.io/buttons.js"></script>


</body>
</html>
